
{{#if session.isAuthenticated}}
  {{!-- <a {{ action 'invalidateSession' }}>Logout</a> --}}
  <div class="ui menu">
	<div class="ui menu">
		<a class="active item">
			<i class="home icon"></i> Home
		</a>
		<a class="item">
			<i class="mail icon"></i> Messages
		</a>
		<div class="right menu">
			<a class="item" {{action 'invalidateSession'}}>
				<i class="sign out icon"></i> Sign out
			</a>
		</div>
	</div>
</div>
{{/if}}

{{outlet}}




